<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 项目业务日志级别 -->
    <logger name="edu.ouc" level="INFO"/>

    <!-- MyBatis SQL 日志 -->
    <logger name="edu.ouc.mapper" level="DEBUG"/>

    <!-- Spring 框架日志级别 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.alibaba.druid" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>